.btnWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}
.btn {
	background-color: var(--main-primary-color);
	display: inline-block;
	color: #fff;
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin: 0 auto;
	border: none;
}

.btn .text {
	padding: 0.7em 1em;
}
.btn .text::after {
	content: '>';
	padding-right: 6px;
}

.btn .text:hover::after {
	animation: moveAfter 0.6s infinite ease-in-out;
}

.btn:hover {
	background-color: var(--main-secondary-color);
}

@keyframes moveAfter {
	from {
		padding-left: 0px;
	}
	50% {
		padding-right: 0px;
		padding-left: 6px;
	}
	to {
		padding-left: 0px;
	}
}

@media only screen and (max-width: 1183px) {
	.btn {
		font-size: 20px;
	}
}