.workPreview {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 100px;
}

.workPreview:last-child {
	margin-bottom: 0;
}

.workPreview .left {
	flex: 1;
}

.workPreview .left .inner {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.workPreview .right {
	flex: 3;
	width: 100%;
	margin-right: 20px;
}

.workPreview .right .inner {
	padding: 20px;
	background-color: #eee;
	max-height: 580px;
}

.workPreview .image {
	position: relative;
	overflow: hidden;
}

.workPreview .scroll {
	overflow-y: scroll;
}

.workPreview .small {
	padding-top: 56.25%;
}

.workPreview .medium {
	padding-top: 152.23%;
}

.workPreview .large {
	padding-top: 69.99%;
}

.workPreview .kwork {
	padding-top: 55%;
}

.workPreview .xl {
	padding-top: 49.38%;
}

.workPreview .screenShot {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.workPreview .medium {
	display: none;
}

.workPreview .large {
	display: none;
}
.workPreview .xl {
	display: none;
}

.workPreview .descriptions {
	line-height: 1.5;
	color: #333;
	font-size: 18px;
}

.workPreview .titleWrapper {
	margin: 20px 0;
	margin-top: 0;
}

.workPreview .title {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	display: inline;
	color: #008ccf;
}

.workPreview .arrow {
	margin-right: 8px;
}

.workPreview .left:hover .arrow {
	animation: moveBefore 0.6s infinite ease-in-out;
}

@keyframes moveBefore {
	from {
		margin-right: 8px;
	}
	50% {
		margin-right: 0px;
		margin-left: 8px;
	}
	to {
		margin-right: 8px;
	}
}

@media only screen and (max-width: 943px) {
	.workPreview {
		flex-direction: column;
		max-width: 560px;
		margin: 0 auto;
		padding: 0 !important;
	}
	.workPreview .right {
		display: none;
	}
	.workPreview .left .inner {
		padding: 0;
	}
}

@media only screen and (max-width: 1183px) {
	.workPreview {
		padding: 0 100px;
		margin-bottom: 70px;
	}
	.workPreview .right {
		flex: 1;
	}
	.workPreview .medium {
		display: block;
	}
	.workPreview .large {
		display: none;
	}
}

@media only screen and (min-width: 1183px) {
	.workPreview .right {
		flex: 2;
	}
	.workPreview .large {
		display: block;
	}
	.workPreview .descriptions {
		font-size: 18px;
	}
}

@media only screen and (min-width: 1583px) {
	.workPreview .right {
		flex: 3;
	}
	.workPreview .large {
		display: none;
	}
	.workPreview .xl {
		display: block;
	}
}